@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 92, 75, 58;
  --background-start-rgb: 244, 232, 209;
  --background-end-rgb: 248, 240, 224;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}